@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

#clrDarkBlue {
    color: #133C55;
}

/*--------------------------------------------------Body*/
body {
    font-family: "Roboto", sans-serif;
    color: #133C55;
    background-color: #C7B7A7;
}

/*--------------------------------------------------Header*/
.navbar {
    height: 75px;
    background: #C7B7A7;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    padding-right: 0px;
}

.navbar-brand {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 600;
    float: left;
    font-size: 220%;
    margin-left: 30px;
}

.nav-link {
    font-size: 110%;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0;
    margin-right: 30px;
    color: #133C55;
}

.navbar-toggler {
    border: 1px solid #000000;
}

.navbar-brand:hover {
    color: #000000;
}

.nav-link:hover {
    color: #E56399;
    border-bottom: 1px solid #E56399;
}

.active {
    border-bottom: 1px solid #133C55;
}

/*--------------------------------------------------Home section*/
.home {
    height: 600px;
    width: 100%;
    margin-top: 75px;
    background: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}